.reviewPictureHeight {
    height: 200px;
    width: auto;
}

.textCenterReviewModal {
    text-align: center;
}

.textFontReviewModal {
    font-size: 12px;
}

.reviewModalButton {
    background-color: white;
    border: 1px solid #b7b7b7;
    color: #000;
    font-weight: 400;
    border-radius: .4rem;
    margin-right: 6px;
    margin-bottom: 6px;
    width: 100px;
    font-size: 12px;
}

.reviewModalButton:hover {
    background-color: gray;
    color: white;
    border: none;
    font-weight: 600;
}

/* .reviewModalButton:active {
    background-color: black;
    border: none;
    font-weight: 700;
} */

.reviewModalButton:focus,.reviewModalButton:active, .reviewModalButton:focus {
    outline: none !important;
    box-shadow: none !important;;
    background-color: black !important;
    font-weight: 600;
 }

.reviewModelMarginLeft {
    margin-left: 20px;
}

.activeButton3 {
    /* background-color: rgb(25, 26, 24); */
    color: White;
    background-color: black;
}

.submitButtonReviewSize {
    width: 200px;
    letter-spacing: 0.5px;
    background-color: black;
    border: 1px solid #b7b7b7;
    cursor: pointer;
    font-size: 14px;
    color: white;
    font-weight: 400;
    border-radius: .4rem;
    padding: 10px;
}


.submitButtonReviewSize:hover {
    background-color: gray;
    border: none;
}

.cancelReviewModal {
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
    color: gray;
    padding-top: 10px;
    
}

.requireTextReview {
    font-size: 12px;
    color: gray;
    
    
}

.form-control:focus {
    border-color:black;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(0, 0, 0, 0.6);
  }

.smaller-InputForm {
    font-size: 12px;
    padding: 2px 5px;
}

/* .btn.btn-primary[disabled] {
    background-color: #00ff00;
} */

.submitButtonReviewSize:disabled {
    background-color: #d5d6d6;
    border-color: #d5d6d6;
    color: #575959;
}

.writeReviewHR {
    margin-top: 3px;
    margin-left: 12px;
    width: 93.5%;
}

