.accordionBodyText {
    font-size: 13px;
    margin-top: -17px;
}
.accordionHeaderText {
    font-size: 13px;
    font-weight: 700;
}

.accordion-item {
    background-color: #fff;
    border-top: 1px solid rgba(218, 223, 225, 1);
    border-bottom: 1px solid rgba(218, 223, 225, 1);
    border-left: transparent;
    border-right: transparent;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 transparent;
}



.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent;
}

.breakMarginBottom {
    margin-bottom: 10%;
}
