.writeReviewText{
    color: #767676;
    text-decoration: underline;
    cursor: pointer;
}

.writeReviewText:hover{
    color: black;
}

.sizeChartText {
    color: #767676;
    text-decoration: underline;
    cursor: pointer;
    font-size: 13px;
}

.alignRight {
    font-size: 14px;
    text-align: right;
    margin-right: 0px;
    margin-top: 5px;
}

.leftReviewText {
    font-size: 17px;
}

.hrMargin {
    margin: -25px;
    opacity: .2;
    margin-top: 8px;
    margin-left: -7px ;
    width: 101.3%;
}

.hrProductDetail {
    opacity: .13;
}

.productDetailText {
    font-size: 20px;
    color: #000;
    font-weight: 400;
    margin-bottom: -10px;
}

.productDetailDescription {
    font-size: 14px;
    color: #000;
    font-weight: 700;
}

.productDetailDescriptionText {
    font-size: 13px;
    color: #000;
    font-weight: 400;
    padding-right: 30px;
}

.productDetailDescriptionList {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    padding-right: 20px;
}

.textCenter {
    text-align: center;
    font-size: 14px;
    color: #000;
    font-weight: 400;
}

.backgroundColorContainer {
    background-color: #f5f5f5;
}

/* .buttonJeanSize {
    background-color: transparent;
    border: 1px solid #b7b7b7;
    border-radius: .4rem;
    padding: 10px;
}

.buttonJeanSize:hover {
    background-image: #b7b7b7;
}


.buttonJeanSize:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 1px solid black;
    background-image: linear-gradient(to top, #f4f5f5, #dfdddd);
}

.buttonJeanText {
    color: black;
    font-size: 16px;
    padding: 5px;
}

.buttonJeanText:hover {
    color: white;
    font-size: 16px;
    padding: 5px;
}

.buttonJeanText:active {
    color: white;
    font-size: 16px;
    padding: 5px;
} */

.addButton {
    letter-spacing: 0.5px;
    background-color: black;
    border: 1px solid #b7b7b7;
    cursor: pointer;
    font-size: 14px;
    color: white;
    font-weight: 400;
    border-radius: .4rem;
    padding: 10px;
    }

.addButton:hover {
    background-color: gray;
}

.addButton:disabled {
    background-color: #d5d6d6;
    border-color: #d5d6d6;
    color: #575959;
}

.anchorColor {
    color:#767676;
}

.anchorColor:hover {
    color:black;
}

.selectSizeFont {
    font-size: 14px;
    margin-right: 8px;
}

.sizeChartFloatRight {
    text-align: right;
    margin-right: -2px;
    margin-bottom: 5px;
    overflow-wrap: break-word;
}

.sizeChartNoFloat {
    text-align: left;
    margin-bottom: 5px;
}

.selectLengthSize {
    font-size: 14px;
    margin-bottom: 13px;
}

.marginRightSizeChart {
    margin-left: 10px;
}

