
.containerHover {
    position: relative;
    /* width: 50%;
    max-width: 300px; */
  }
  
  
  .imageHover {
    display: block;
    width: 100%;
    height: auto;
  }
  
  
.overlayHover {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  border: transparent;
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 12px;
  text-align: center;
}


.containerHover:hover .overlayHover {
  opacity: 1;
}

.cardBorderOutline{
  margin-bottom: 15px;
  --bs-gutter-x: .65rem;
}

.cardBorderOutline:hover {
border: solid 1px rgba(218, 223, 225, .5)
}

.cardBorderOutline {
  border: solid 1px transparent
  }

.cardFontSize {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.cardFontSize:hover {
  font-size: 14px;
  color: black;
  text-decoration: none;
}