.navHeaderSpace {
    text-align: center;
    margin-left:50px;
    margin-right:30px;
  }

.userPhoto {
  width: 40px;
  height: auto;
  margin-top: -10px;
  border-radius: 50%;
}

.column1 {
  float: left;
  width: 33.33%;
  padding: 10px;
  margin-left: 5px;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

.dropDownWidth {
  width: 450px;

}

.categoryPicture {
  width: 110px;
  height: auto;
}

.categoryPictureAlign {
  margin-left: 10px;
}

/* .dropdown:hover .dropdown-menu {
  display: block;
  border-top: 1px solid red;
} */

.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: 0 0;
  border: 0;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: transparent;
  border-color: #dee2e6 #dee2e6 #fff;
}

.dropdown-item {
  color: gray;
  font-size: 14px;
}

.dropdown-item.active, .dropdown-item:active {
  color: gray;
  text-decoration: none;
  background-color:transparent;
}

.dropdown-item:hover {
  color: black;
  background-color: transparent;
}

.dropdown-header {
color: black;
font-weight: 500;
font-size: 14px;
margin-left: 5px;
}

.accountPictureSize {
  font-size: 28px;
  color: black;
}

.loginMarinLeft {
  margin-left: 30px;
}

.logoutButton {
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 14px;
  padding-left: 0px;
}

.navbar {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}


