.buttonSize {
    font-size: 25px;
    border: none;
    background-color: transparent;
}

.dot {
    position: absolute;
    height: 23px;
    width: 23px;
    background-color:black;
    border-radius: 100%;
    display: inline-block;
    color: white;
    text-align: center;
    margin-left: -10px;
    padding-top: 3px;
    font-size: 12px;
  }
